* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
}

header {
    background: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #374151;
    padding: 10px;
    text-align: center;
    position: sticky;
    top:0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 12px 25px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background: #1d4ed8;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.job-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.job-card h3 {
    margin-bottom: 10px;
    color: #1f2937;
}

.job-card p {
    margin: 6px 0;
    color: #555;
}

.job-card button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #10b981;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.job-card button:hover {
    background: #059669;
}

footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}